#apercu, div[id*="topic"]
{
	width: 250px;
	border: 1px black solid;
	border-radius: 5px;
	word-wrap: break-word;
}

#apercu
{
	display: inline-block;
}

div[id*="topic"]:hover
{
	text-decoration: underline;
	font-weight: bold;
	cursor: pointer;
}

.unselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}