.folder
{
	width: 250px;
	background-color: #ffff00;
	border: 1px black solid;
	border-radius: 5px;
	word-wrap: break-word;
}

.note
{
	width: 250px;
	background-color: #ffffff;
	border: 1px black solid;
	border-radius: 5px;
	word-wrap: break-word;
}

.level1 
{
	margin-left: 10px;
}

.level2 
{
	margin-left: 20px;
}

.level3 
{
	margin-left: 30px;
}

.level4 
{
	margin-left: 40px;
}

.level5 
{
	margin-left: 50px;
}
