.folder
{
	background-color: #ffff00;
	border: 1px black solid;
	border-radius: 5px;
	word-wrap: break-word;
}

.note
{
	background-color: #ffffff;
	border: 1px black solid;
	border-radius: 5px;
	word-wrap: break-word;
}