body {
  margin: 0px;
  padding: 0px;
}

#header
{
	font-size: 0.8em;
}	

#disconnectUser
{
	background-color: red;
	color:white;
}

#referencesUser
{
	text-align: right;
	position: absolute;
	left: 0%;
	width: 100%;
}

#frameOfSwitchToTreeForMobile
{
	display: none;
}

#displayAndHideTree
{
	position: relative;
	text-align: center;
	width:100%;
	height:100%;
	background-color: rgb(255,255,220);
}

div#menu
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	font-size : 22px;
}

ul {padding: 0px;} /* il y a un padding par défaut des ul sinon !!*/
ul ul {display: none; position: absolute; left: 0px; bottom: 0px; margin: 0px; padding: 0px;}
li {list-style-type: none; position: relative; left: 0px; bottom: 20px; width: 100px; border: 1px black solid}
li:hover ul.Niveau2 {display: block;}

li button, li
{
	background-color : #19c589;
	display:inline-block;
	vertical-align: top;
	text-align: left;
	float: left;
	width: 100px;
	margin-right: 1px;
}

li button:hover, li:hover
{
	background-color : #2dfbb3;	
}


/*-------------------------TreeItems--------------------*/

#containerOfTree
{
	position: absolute;
	top: 5%;
	height: 95%;
	width: 60%;
	left: 40%;
	z-index: -1;
}

#frameOfTree
{
	position: relative;
	height: 100%;
	width: 98%;
	left: 2%;
	background-color: rgba(255,255,220,0.8);
	display: block;
}

#greyLayerOnFrameOfTree
{
	position: absolute;
	z-index: 1;
	background-color: rgba(0,0,0,0.4); 
	height: 100%;
	width: 100%;
	display: none; 
}

#ajaxLoadingImageFrameOfTree
{
	position: relative;
	left: 45%;
	top: 35%;
}

#01
{
	width: 250px;
	background-color: #ffff00;
	border: 1px black solid;
	border-radius: 5px;
	word-wrap: break-word;
}

.folder
{
	width: 250px;
	background-color: #ffff00;
	border: 1px black solid;
	border-radius: 5px;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.note
{
	width: 250px;
	background-color: #ffffff;
	border: 1px black solid;
	border-radius: 5px;
	word-wrap: break-word;
	white-space: pre-wrap;
}

div.folder:active {background-color: #ff0000 !important;}
div.folder:hover {background-color: #ffaa00 !important;}

div.note:active {background-color: #ff3300 !important;}
div.note:hover {background-color: #aaffaa !important;}
/*div#frameOfTree div {white-space: pre;} : pb ceci entraine que les textes sortent des div*/

/*----------------------------------contextMenu-------------------------------*/
div#fondMenuCategorie
{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 3;
	background-color: rgba(0,0,0,0.4); 
	height: 100%;
	width: 100%;
	display: none; 
}

div#frameContextMenuTree
{
	position: relative;
	top: 10%;
	left: 30%;
	width: 100%;
}

.contextMenu
{
	/*z-index: 1; */
	color: black;
	text-align: left;
	width: 40%;
	border: 2px black solid; 
	display: none;
	word-wrap: break-word;
	white-space: pre-wrap;
}

#insertNewNote {background-color: #ffffff;} 
#deleteNote {background-color: #d56161;}
#deleteFolder {background-color: #d56161;}
#pasteHereTreeItem {background-color: #52f05f;}
#insertNewFolder {background-color: #ffff00;}
#editTreeItem {background-color: #32bdd4;}
#archiveNote {background-color: #b97eb6;}
#getOutFromHere {background-color: #6e83f9;}
#moveTreeItem {background-color: #e0bd5a;}
#DisplayContentFolder {background-color: #42ce75;}
#changeCategoryIntoNote {background-color: #dddddd;}
#changeNoteIntoCategory {background-color: #ffff00;}
#importTreeHere {background-color: #dbcfc5;}
#exportTreeFromHere {background-color: #f6b1f3;}
#cancel {background-color: red;}

#insertNewNote:hover {background-color: #d7d5d5;} 
#deleteNote:hover {background-color: #f67676;}
#deleteFolder:hover {background-color: #f67676;}
#pasteHereTreeItem:hover {background-color: #09fb1d;}
#insertNewFolder:hover {background-color: #e3e323;}
#getOutFromHere:hover {background-color: #1639fc;}
#editTreeItem:hover {background-color: #3adffb;}
#archiveNote:hover {background-color: #e4a0e1;}
#moveTreeItem:hover {background-color: #fed76a;}
#DisplayContentFolder:hover {background-color: #2be76f;}
#changeCategoryIntoNote:hover {background-color: #fcfcfc;}
#changeNoteIntoCategory:hover {background-color: #e9e94d;}
#importTreeHere:hover {background-color: #f4ebe4;}
#exportTreeFromHere:hover {background-color: #f986f4;}
#cancel:hover {background-color: #fc5757;}


/*-------------------------Form--------------------*/
#fondPageEntrerTexte
{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 3;
	background-color: rgba(0,0,0,0.6); 
	height: 100%;
	width: 100%;
	display: none; 
}

#textBox
{
	position: absolute;
	left: 20%;
	top: 10%;
	z-index: 2;
	background-color: white; 
	height: 20%;
	width: 60%;
	border: 2px black solid;
	opacity: 1;
	}

#enregistrerNouvelleNote
{
	position: absolute;
	left: 60%;
	top: 33%;
	z-index: 2;
	background-color: #11ff11;
	height: 22px;
	width: 80px;
	border: 1px black solid;
	text-align: center; 
	opacity: 1;
}

#enregistrerNouvelleNote:hover 
{
	background-color: #ffff11;	
}

#reinitialiserFormulaireEntrerNote
{
	position: absolute;
	left: 40%;
	top: 33%;
	z-index: 2;
	background-color: blue;
	height: 22px;
	width: 80px;
	border: 1px black solid;
	text-align: center; 
	opacity: 1;
}

#reinitialiserFormulaireEntrerNote:hover
{
	background-color: #aaaaff;
}


#annulerEntrerNote
{
	position: absolute;
	left: 20%;
	top: 33%;
	z-index: 2;
	background-color: red;
	height: 22px;
	width: 80px;
	border: 1px black solid;
	text-align: center; 
	opacity: 1;
}

#annulerEntrerNote:hover
{
	background-color: #ff9999;
}


form#formulaireEntrerNote
{
	width: 100%;
	height: 100%;
}

textarea#zoneFormulaireEntrerNote
{
	width: 100%;
	height: 100%;
}

/*-------------------------API files--------------------*/

#frameOfFileLoader
{
	position: absolute;
	z-index: 1;
	left: 20%;
	top: 50%;
	background-color: rgba(0,0,0,0.3);
	color: white;
	display: none;
}

#cancelLoadFile
{
	background-color: red;
}

/*-------------------------Layer for phone--------------------*/
@media screen and (max-width: 480px) {
	#containerOfTree
	{
		position: absolute;
		height: 95%;
		width: 100%;
		left: 0%;
	}
	
	#frameOfTree
	{
		left: 0%;
	}
	
	#referencesUser
	{
		width: 90%;
	}
	
	#frameOfSwitchToTreeForMobile
	{
		display: block;
		position: absolute;
		left: 90%;
		width:10%;
		height: 5%;
	}
}
