body {
  margin: 0px;
  padding: 0px;
}

button
{
	padding: 0px;
	cursor: pointer;
}

.feather
{
	width: 15px;
	height: 12px;
	margin-left: 7px;
	margin-right: 7px;
}

#header
{
	font-size: 0.8em;
}	

#disconnectUser
{
	background-color: red;
	color:white;
}

#linkToTopics
{
	background-color: blue;
	color:yellow;	
}

#referencesUser
{
	text-align: right;
	position: absolute;
	left: 0%;
	width: 100%;
	top: 1%;
}

.containerHeader
{
	border: 2px black solid;
	border-radius: 30%;
	padding: 2px;
}

#frameOfSwitchToTreeForMobile
{
	display: none;
}

#displayAndHideTree
{
	position: relative;
	text-align: center;
	width:100%;
	height:100%;
	background-color: rgb(255,255,220);
}

div#menu
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	font-size : 22px;
}

li button, li
{
	background-color : #19c589;
	display:inline-block;
	vertical-align: top;
	text-align: left;
	float: left;
	width: 100px;
	margin-right: 1px;
}

li button:hover, li:hover
{
	background-color : #2dfbb3;	
}


/*-------------------------General--------------------*/ 

.unselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}