body {
  margin: 0px;
  padding: 0px;
}

#header
{
	font-size: 0.8em;
}	

#disconnectUser
{
	background-color: red;
	color:white;
}

#referencesUser
{
	text-align: right;
	position: absolute;
	left: 0%;
	width: 100%;
}

#frameOfSwitchToTreeForMobile
{
	display: none;
}

#displayAndHideTree
{
	position: relative;
	text-align: center;
	width:100%;
	height:100%;
	background-color: rgb(255,255,220);
}

div#menu
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	font-size : 22px;
}

ul {padding: 0px;} /* il y a un padding par défaut des ul sinon !!*/
ul ul {display: none; position: absolute; left: 0px; bottom: 0px; margin: 0px; padding: 0px;}
li {list-style-type: none; position: relative; left: 0px; bottom: 20px; width: 100px; border: 1px black solid}
li:hover ul.Niveau2 {display: block;}

li button, li
{
	background-color : #19c589;
	display:inline-block;
	vertical-align: top;
	text-align: left;
	float: left;
	width: 100px;
	margin-right: 1px;
}

li button:hover, li:hover
{
	background-color : #2dfbb3;	
}


/*-------------------------General--------------------*/ 

.unselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}