div#frameOfTree
{
	background-color: #f2f2aa;
	display: block;
}

#01
{
	width: 250px;
	background-color: #ffff00;
	border: 1px black solid;
	border-radius: 5px;
	word-wrap: break-word;
}

.folder
{
	width: 250px;
	background-color: #ffff00;
	border: 1px black solid;
	border-radius: 5px;
	word-wrap: break-word;
}

.note
{
	width: 250px;
	background-color: #ffffff;
	border: 1px black solid;
	border-radius: 5px;
	word-wrap: break-word;
}

div.folder:active {background-color: #ff0000;}
div.folder:hover {background-color: #ffaa00;}

div.note:active {background-color: #ff3300;}
div.note:hover {background-color: #aaffaa;}
/*div#frameOfTree div {white-space: pre;} : pb ceci entraine que les textes sortent des div*/




div#fondMenuCategorie
{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
	background-color: rgba(0,0,0,0.4); 
	height: 100%;
	width: 100%;
	display: none; 
}

#insertNewNote, #deleteNote, #deleteFolder, #insertNewFolder, #editNote, #archiveNote, #archiveToDo, #DisplayContentCategory, #changeCategoryIntoNote, #changeNoteIntoCategory, #cancel
{
	position: absolute;
	left: 20%;
	/*z-index: 1; */
	background-color: #ff11ff; 
	color: black;
	height: 5%;
	width: 20%;
	border: 2px black solid; 
	display: none;
}

#insertNewNote:hover, #deleteNote:hover, #deleteFolder:hover, #insertNewFolder:hover, #editNote:hover, #archiveNote:hover, #archiveToDo:hover, #DisplayContentCategory:hover, #changeCategoryIntoNote:hover, #changeNoteIntoCategory:hover, #cancel:hover
{
	background-color: #ff66ff; 	
}

#insertNewNote {top: 10%;}
#deleteNote {top: 15%;}
#deleteFolder {top: 15%;}
#insertNewFolder{top: 20%;}
#editNote{top: 25%;}
#archiveNote{top: 30%;}
#archiveToDo{top: 35%;}
#DisplayContentCategory{top: 40%;}
#changeCategoryIntoNote{top: 45%;}
#changeNoteIntoCategory{top: 50%;}
#cancel{top: 55%;} /* mettre plutôt une taille de l'ordre de 22px comme les fonts ?*/


div#fondPageEntrerTexte
{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
	background-color: rgba(0,0,0,0.6); 
	height: 100%;
	width: 100%;
	display: none; 
}

div#textBox
{
	position: absolute;
	left: 20%;
	top: 10%;
	z-index: 2;
	background-color: white; 
	height: 20%;
	width: 60%;
	border: 2px black solid;
	opacity: 1;
	}

#enregistrerNouvelleNote
{
	position: absolute;
	left: 60%;
	top: 33%;
	z-index: 2;
	background-color: #11ff11;
	height: 22px;
	width: 100px;
	border: 1px black solid;
	text-align: center; 
	opacity: 1;
}

#enregistrerNouvelleNote:hover 
{
	background-color: #ffff11;	
}

#reinitialiserFormulaireEntrerNote
{
	position: absolute;
	left: 40%;
	top: 33%;
	z-index: 2;
	background-color: blue;
	height: 22px;
	width: 100px;
	border: 1px black solid;
	text-align: center; 
	opacity: 1;
}

#annulerEntrerNote
{
	position: absolute;
	left: 20%;
	top: 33%;
	z-index: 2;
	background-color: red;
	height: 22px;
	width: 100px;
	border: 1px black solid;
	text-align: center; 
	opacity: 1;
}



form#formulaireEntrerNote
{
	width: 100%;
	height: 100%;
}

textarea#zoneFormulaireEntrerNote
{
	width: 100%;
	height: 100%;
}

#chargerfichierXML
{
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	display: none; 
}


	
li button, li
{
	background-color : #19c589;
	display:inline-block;
	vertical-align: top;
	text-align: left;
	float: left;
	width: 100px;
	margin-right: 1px;
}

li button:hover, li:hover
{
	background-color : #2dfbb3;	
}

div#menu
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	font-size : 22px;
}

ul {padding: 0px;} /* il y a un padding par défaut des ul sinon !!*/
ul ul {display: none; position: absolute; left: 0px; bottom: 0px; margin: 0px; padding: 0px;}
li {list-style-type: none; position: relative; left: 0px; bottom: 20px; width: 100px; border: 1px black solid}
li:hover ul.Niveau2 {display: block;}