/*-------------------------toDo--------------------*/
#containerOfToDo
{
	position: absolute;
	top: 5%;
	width: 40%;
	height: 95%;
	background-color: #ffffff;
}

#transparentLayerOnContainerOfToDo
{
	position: absolute;
	z-index: 1;
	background-color: rgba(0,0,0,0.1); 
	height: 100%;
	width: 100%;
	display: none; 
}

#ajaxLoadingImageContainerOfToDo
{
	position: relative;
	left: 35%;
	top: 35%;
}

#frameOfToDo
{
	position: relative;
	background-color: blue;
	overflow: scroll;
	/* pour le tel il faudra probablement mettre a position : fixed;*/
	height: 80%;
}

#addToDoButton
{
	background-color:  green;
}

#addToDoFrame
{
	display : none;
	background-color:  red;	
}

#cancelAddToDo, #frameTextareaToDoForm, #resetAddToDoForm
{
	display: inline-block;
}


.toDo
{
	background-color: #eeaaee;
	border: 1px black solid;
	border-radius: 2px;
	font-size: 1.2em;
	word-wrap: break-word;	
}

.toDo:active
{
	background-color: #ff0000;
}

div[id^="separatorLabels"]
{
	background-color: black;
	font-size: 0.7em;
}

.labelsNameSeparator
{
	border-right: 1px black solid;
	padding: 2px;
}

.dateExpired
{
	background-color: blue;
	border-radius: 3px;
	font-size: 15px;
	display: none;
}

#noScroll
{
	position : relative;
	background-color: yellow;
	width: 80%;
}

#greyLayerOnNoScroll
{
	position: absolute;
	z-index: 1;
	background-color: rgba(0,0,0,0.4); 
	height: 100%;
	width: 100%;
	display: none; 
}

#frameControlsToDo
{
	position: absolute;
	top:80%;
	height:20%;
	overflow: auto;
}

#submitToDo
{
	width: 50px;
	background-color: yellow;
	display : none;
}

#exportToDoList
{
	background-color: LawnGreen;
}

#displayCompleteToDoList
{
	background-color: MediumVioletRed;
}

#frameOfContextMenuToDo
{
	position: absolute;
	top: 28%;
	left: 20%;
	z-index: 1;
}

#cancelContextMenu
{
	color: orange;
	display: none;	
}

#deleteToDo 
{
	color: red;
	display: none;
}

#StatedToDoDone
{
	color: green;
	display: none;
}

#editToDo
{
	color: yellow;
	display: none;
}

@media screen and (max-width: 480px) {
	#containerOfToDo
	{
		position: absolute;
		top: 5%;
		height: 95%;
		width: 100%;
		left: 0%;
	}
}