/*-------------------------toDo--------------------*/
#containerOfToDo
{
	position: absolute;
	top: 5%;
	width: 40%;
	height: 95%;
	background-color: #ffffff;
}

#transparentLayerOnContainerOfToDo
{
	position: absolute;
	z-index: 1;
	background-color: rgba(0,0,0,0.1); 
	height: 100%;
	width: 100%;
	display: none; 
}

#ajaxLoadingImageContainerOfToDo
{
	position: relative;
	left: 35%;
	top: 35%;
}

#frameOfToDo
{
	position: absolute;
	background-color: white;
	overflow: scroll;
	height: 80%;
	left: 0%;
	top: 0%;
	width: 100%;
}

#divFixHeight
{
	position: relative;
	height: auto;
	width: auto;
}

#noScroll
{
	position : relative;
	background-color: white;
	width: 100%;
}

#handScroller
{
	position: absolute;
	right: 0%;
	width: 20%;
	top: 0%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.3); 
}

#addToDoButton
{
	background-color:  #819f81;
}

#addToDoFrame
{
	display : none;
	background-color: #c37878;	
}

#cancelAddToDo, #frameTextareaToDoForm, #resetAddToDoForm
{
	display: inline-block;
}


.toDo
{
	background-color: #eeaaee;
	border: 1px black solid;
	border-radius: 10px;
	font-size: 1.2em;
	word-wrap: break-word;
	padding-left: 2px;
	-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: none;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

.toDo:active
{
	background-color: #ff0000;
}

@-webkit-keyframes toDoSelected {
    from {background-color: #ffffff;}
    to {background-color: #999999;}
}

/* Standard syntax */
@keyframes toDoSelected {
    from {background-color: #ffffff;}
    to {background-color: #999999;}
}

div[id^="separatorLabels"]
{
	background-color: black;
	font-size: 0.7em;
}

.labelsNameSeparator
{
	border-right: 1px black solid;
	padding: 2px;
}

.displayedRowOfToDo
{
	background-color: blue;	
	border-radius: 6px;
	font-size: 0.7em;
	color: yellow;
	position:relative;
	top: -3px;
	margin-right: 2px;
}

.dateExpired
{
	background-color: blue;
	border-radius: 3px;
	font-size: 15px;
	display: none;
}

#greyLayerOnNoScroll
{
	position: absolute;
	z-index: 1;
	background-color: rgba(0,0,0,0.4); 
	height: 100%;
	width: 100%;
	display: none; 
}

#frameControlsToDo
{
	position: absolute;
	top:80%;
	height:20%;
	overflow: auto;
}

#submitToDo
{
	width: 50px;
	background-color: yellow;
	display : none;
}

#exportToDoList
{
	background-color: LawnGreen;
}

#displayCompleteToDoList
{
	background-color: MediumVioletRed;
}

#frameOfContextMenuToDo
{
	position: absolute;
	top: 28%;
	left: 20%;
	z-index: 1;
}

#cancelContextMenu
{
	color: orange;
	display: none;	
}

#deleteToDo 
{
	color: red;
	display: none;
}

#StatedToDoDone
{
	color: green;
	display: none;
}

#editToDo
{
	color: yellow;
	display: none;
}

@media screen and (max-width: 480px) {
	#containerOfToDo
	{
		position: absolute;
		top: 5%;
		height: 95%;
		width: 100%;
		left: 0%;
	}
}