/*-------------------------toDo--------------------*/
#containerOfToDo
{
	position: absolute;
	top: 5%;
	width: 40%;
	height: 95%;
	background-color: #ffffff;
}

#transparentLayerOnContainerOfToDo
{
	position: absolute;
	z-index: 1;
	background-color: rgba(0,0,0,0.1); 
	height: 100%;
	width: 100%;
	display: none; 
}

#ajaxLoadingImageContainerOfToDo
{
	position: relative;
	left: 35%;
	top: 35%;
}

#iconsToDo
{
	position: absolute;
	top: 0%;
	height: 4%;
	width: 100%;
	overflow: hidden;
}

#frameOfToDo
{
	position: absolute;
	background-color: white;
	overflow: scroll;
	height: 76%;
	left: 0%;
	top: 4%;
	width: 100%;
}

#divFixHeight
{
	position: relative;
	height: auto;
	width: auto;
}

#noScroll
{
	position : relative;
	background-color: white;
	width: 100%;
}

#handScroller
{
	position: absolute;
	right: 0%;
	width: 20%;
	top: 0%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.3); 
}

#addToDoButton
{
	background-color:  #819f81;
}

#addToDoFrame
{
	display : none;
	background-color: #c37878;	
}

#cancelAddToDo, #frameTextareaToDoForm, #resetAddToDoForm
{
	display: inline-block;
}


.toDo
{
	background-color: #eeaaee;
	border-radius: 10px;
	font-size: 0.9em;
	word-wrap: break-word;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin: 1px;
	-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: none;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

.toDo:active
{
	background-color: #ff0000;
}

@-webkit-keyframes toDoSelected {
    from {background-color: #ffffff;}
    to {background-color: #999999;}
}

/* Standard syntax */
@keyframes toDoSelected {
    from {background-color: #ffffff;}
    to {background-color: #999999;}
}

div[id^="separatorLabels"]
{
	background-color: black;
	font-size: 0.7em;
}

.labelsNameSeparator
{
	border-right: 1px black solid;
	padding: 2px;
}

.displayedRowOfToDo
{
	background-color: #5757f6;	
	border-radius: 6px;
	font-size: 0.7em;
	color: yellow;
	position:relative;
	top: -2px;
	margin-right: 2px;
	padding: 2px;
}

.dateExpired
{
	background-color: blue;
	border-radius: 3px;
	font-size: 15px;
	display: none;
}

#greyLayerOnNoScroll
{
	position: absolute;
	z-index: 1;
	background-color: rgba(0,0,0,0.4); 
	height: 100%;
	width: 100%;
	display: none; 
}

#curtainOnLayerNoScroll
{
	position: absolute;
	z-index: 2;
	background-color: #DFDFDF; 
	height: 100%;
	width: 100%;
}

#frameControlsToDo
{
	position: absolute;
	top:80%;
	height:20%;
	width: 100%;
	overflow: auto;
}

#submitToDo
{
	width: 50px;
	background-color: yellow;
	display : none;
}

#exportToDoList
{
	background-color: LawnGreen;
}

#displayCompleteToDoList
{
	background-color: MediumVioletRed;
}

#frameOfContextMenuToDo
{
	position: absolute;
	top: 28%;
	left: 20%;
	z-index: 1;
}

.contextMenuIcon
{
	width: 30px;
	height: 27px;
}

#cancelContextMenu
{
	color: orange;
	display: none;	
}

#deleteToDo 
{
	color: red;
	display: none;
}

#StatedToDoDone
{
	color: green;
	display: none;
}

#editToDo
{
	color: #9ba607;
	display: none;
}

#frameSelectAllToDoOrOne
{
	float: right;
	border: 1px black solid;
	border-radius: 12px;
}

.labelSwitch
{
	display: block;
	text-align: center;
	font-size: 0.6em;
}

@media screen and (max-width: 480px) {
	#containerOfToDo
	{
		position: absolute;
		top: 5%;
		height: 95%;
		width: 100%;
		left: 0%;
	}
}

/* from https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 60px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  top: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider::before {
  -webkit-transform: translateY(26px);
  -ms-transform: translateY(26px);
  transform: translateY(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}